<div class="scroll-watcher"></div>
<header class="header-wrapper">
  <div class="container d-flex align-items-center justify-content-between">
    <div class="logo-wrapper">
      <img src="assets/images/biglogo.png" alt="" />
    </div>
    <nav>
      <ul class="list-unstyled m-0 d-flex align-items-center">
        <li>
          <a href="">Home</a>
        </li>
        <li>
          <a href="">About</a>
        </li>
        <li>
          <a href="">Services</a>
        </li>
        <li>
          <a href="">Partners</a>
        </li>
        <li>
          <a href="">Blogs</a>
        </li>
        <li>
          <a href="">Contact</a>
        </li>
        <li>
          <select name="" id="">
            <option value="">AZ</option>
            <option value="">EN</option>
            <option value="">RU</option>
          </select>
        </li>
      </ul>
    </nav>
  </div>
</header>
