.main-text {
  font-family: PoppinsExtraBold;
  color: white;
  display: flex;
  justify-content: center;
  padding: 200px 0 80px 0px;
  padding-top: 120px;

  p {
    opacity: 0;
    animation: main-text-fade-in ease-out;
    animation-delay: 300ms;
    animation-duration: 800ms;
    animation-fill-mode: forwards;
  }

  @keyframes main-text-fade-in {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.video-section {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;

  //   .video-wrapper {
  //     width: 100%;
  //     background: url("/images/videoHead.mp4");
  //     background-repeat: no-repeat;
  //     background-size: cover;
  //     border-radius: 0;
  //     display: flex;
  //     align-items: center;
  //     color: white;
  //     animation: video-wrapper linear;
  //     animation-timeline: scroll();
  //     animation-range-start: 250px;
  //     animation-range-end: 100vh;
  //     animation-fill-mode: forwards;
  //     video{
  //       width: 100%;
  //       height: 100%;
  //     }
  //   }

  .video-wrapper {
    width: 100%;
    height: 100%;
    border-radius: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    animation: video-wrapper linear;
    animation-timeline: scroll();
    animation-range-start: 250px;
    animation-range-end: 100vh;
    animation-fill-mode: forwards;
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  @keyframes video-wrapper {
    from {
      border-radius: 0;
      width: 100%;
    }
    to {
      border: 1px solid gray;
      border-radius: 40px;
      width: 95%;
    }
  }
}

.our-services {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px;

  .service-card-wrapper {
    border: 1px solid #3d3d3d;
    border-radius: 40px;
    overflow: clip;
    filter: blur(0);
    animation: service-card-wrapper linear;
    animation-timeline: view();
    animation-range-start: 120vh;
    animation-fill-mode: forwards;
  }

  @keyframes service-card-wrapper {
    to {
      scale: 0.7 1;
      top: 90px;
      border-color: #3d3d3d00;
      filter: blur(20px);
    }
    100% {
      opacity: 0;
    }
  }
}

.our-partners {
  // background-color: #171717;
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  .title {
    color: white;
    font-family: PoppinsMedium;
    text-align: center;
    font-size: 80px !important;
  }

  .slider {
    width: 100%;
    height: var(--height);
    overflow: hidden;
    mask-image: linear-gradient(
      to right,
      transparent,
      #000 10% 90%,
      transparent
    );
  }
  .slider .list {
    display: flex;
    width: 100%;
    min-width: calc(var(--width) * var(--quantity));
    position: relative;
  }
  .slider .list .item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--width);
    height: var(--height);
    position: absolute;
    left: 100%;
    animation: autoRun 10s linear infinite;
    transition: filter 0.5s;
    animation-delay: calc(
      (10s / var(--quantity)) * (var(--position) - 1)
    ) !important;
  }
  .slider .list .item img {
    width: 100%;
  }
  @keyframes autoRun {
    from {
      left: 100%;
    }
    to {
      left: calc(var(--width) * -1);
    }
  }
  .slider:hover .item {
    animation-play-state: paused !important;
    filter: grayscale(1);
  }
  .slider .item:hover {
    filter: grayscale(0);
  }
  .slider[reverse="true"] .item {
    animation: reversePlay 10s linear infinite;
  }
  @keyframes reversePlay {
    from {
      left: calc(var(--width) * -1);
    }
    to {
      left: 100%;
    }
  }
}

.our-projects {
  text-transform: capitalize;
  display: grid;

  .title {
    color: white;
    font-family: PoppinsMedium;
    text-align: center;
    font-size: 80px !important;
  }

  .projects-wrapper {
    user-select: none;
    justify-self: center;
    display: flex;
    animation: item-fade-in 500ms ease-out;
    animation-timeline: view();
    animation-range-end: cover;
    .project-column {
      display: flex;
      flex-direction: column;
      animation: item-fade-in 500ms ease-out;
      animation-timeline: view();
      animation-range-end: cover;

      .project-item {
        transform: scale(1);
        display: flex;
        align-items: center;
        justify-content: center;
        filter: brightness(100%);
        transition: filter 300ms, transform 200ms;
        box-shadow: inset 0 0.8px 32px rgba(227, 222, 255, 0.05),
          inset 0 3.19px 14.37px rgba(154, 146, 210, 0.05),
          inset 0 78.26px 78.26px -38.33px rgba(202, 172, 255, 0.05),
          inset 0 -65.48px 54.3px -51.11px rgba(96, 68, 144, 0.05),
          inset 0 5.59px 8.78px -3.25px rgba(255, 255, 255, 0.07),
          inset 0 2rem 2.5rem -2px rgba(255, 255, 255, 0.02),
          0 0.5px 0.625rem -6px rgba(0, 0, 0, 0.1),
          0 1.25rem 1.625rem -5px rgba(0, 0, 0, 0.4);
        background-color: #1a1a1a;
        color: white;
        width: 150px;
        height: 150px;
        border-radius: 1.065rem;

        &:nth-child(even) {
          background: linear-gradient(
              to bottom,
              hsla(0, 0%, 0%, 0.7),
              hsla(0, 0%, 0%, 0.7)
            ),
            linear-gradient(
              to bottom,
              hsla(219.34426229508196, 34.08%, 64.9%, 0.8),
              hsla(219.34426229508196, 34.08%, 64.9%, 0.8)
            );
        }

        &:hover {
          filter: brightness(170%);
          transform: scale(1.2);
        }

        img {
          width: 100px;
        }
      }

      &:nth-child(1) {
        margin-top: 3.5rem;
      }

      &:nth-child(3) {
        margin-top: 4rem;
      }

      &:nth-child(4) {
        margin-top: 2rem;
      }

      &:nth-child(5) {
        margin-top: 6rem;
      }

      &:nth-child(7) {
        margin-top: 4rem;
      }
    }
  }

  @keyframes item-fade-in {
    from {
      gap: 100px;
    }
    to {
      gap: 5px;
    }
  }
}
