footer {
  margin-top: 50px;
  padding: 70px 70px 15px 70px;
  color: white;
  font-family: PoppinsRegular;
}

.logo-wrapper {
  cursor: pointer;
  width: 140px;
  img {
    width: 100%;
  }
}

.footer-icon-wrapper {
  ul {
    gap: 20px;
    li {
      padding: 10px;
      background-color: white;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      gap: 10px;
    }
  }
}

.unit {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: end;

  & > ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    li {
      display: flex;
      justify-content: start;
      align-items: center;
      cursor: pointer;
      gap: 10px;
    }
  }
}

.unit:has(.logo-wrapper) {
  justify-content: space-between;
}

.global-ul {
  gap: 50px;
  border-bottom: 1px solid rgba(117,117,117, 0.3);
  padding-bottom: 45px;
}
